{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "curly": ["error", "all"],
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/indent": [
      "error",
      4,
      {
        "SwitchCase": 1,
        "ignoredNodes": [
          "FunctionExpression > .params[decorators.length > 0]",
          "FunctionExpression > .params > :matches(Decorator, :not(:first-child))",
          "ClassBody.body > PropertyDefinition[decorators.length > 0] > .key"
        ]
      }
    ],
    "vue/html-self-closing": "off",
    "vue/max-attributes-per-line": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/html-indent": ["error", 4],
    "vue/multi-word-component-names": "off",
    "vue/first-attribute-linebreak": "off"
  }
}
